.submitButton {
    background-color: #48c6e7;
    border-color: #48c6e7;
    border-radius: 10px;
    text-transform: uppercase;
    color: #252d53;
    justify-content: center;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 20%;
}

.submitButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
  
    .submitButton {
        width: 50%;
    }
}